<h1>For Loop Component</h1>
@for(user of users; track user){
    <h2>{{user}}</h2>
}

<hr>

@for (student of students; track student.name; let id=$index ) {
    <h2>
        <span>{{id+1}}</span>
        <span>{{student.name}}</span>
        <span>{{student.age}}</span>
        <span>{{student.email}}</span>
        <button (click)="getName(student.name)"></button>
    </h2>  
}

<h1>For Loop contextual Variale</h1>
<h3 style="color: red;">Count First last id user</h3>
@for(user of users; track user; let id=$index){
    <h3>
        {{$count}} {{$first}} {{$last}} {{id+1}} {{user}}
    </h3>
}